<div class="content-double-item-row">
    <label class="label" for="scheduledDate">Date</label>
    <input required class="input" type="date" name="scheduledDate"
        value="<%= menu.date.longDate == null ? '' : menu.date.longDate.toISOString().split('T')[0] %>" /> 
</div>
<div class="content-multiple-item">
    <% let lastIndex = 0 %>
    <% menu.meals.forEach((meal,index) => { %>
        <% if (meal.onModel === 'Dish') { %>
            <%lastIndex += 1%>
            <% if (index == 0) { %>
                <div class="content-item">
                    <h4>Dishes</h4>
                </div>
            <% } %>
            <div class="content-multiple-item-element">
                <label class="label" for="id<%=index%>">Dish <%=index + 1%>:</label>
                <select class="select-small" name="dish<%=index%>">
                    <option disabled selected>-- Tria --</option>
                    <% dishes.forEach(dish => { %>
                        <% if (dish.id == meal.meal) { %>
                            <option selected label="<%= dish.name %>" value="<%= dish.id %>"></option> 
                        <% } else { %>
                            <option label="<%= dish.name %>" value="<%= dish.id %>"></option>
                        <% } %>    
                    <% }) %>
                </select>
                <button class="xButton" type="submit" name="eraseButton<%=index%>">X</button>
            </div>
        <% } %>
        <% if (meal.onModel === 'Food') { %>
            <% index = index - lastIndex %>
            <% if (index == 0) { %>
                <div class="content-item">
                    <h4>Foods</h4>
                </div>
            <% } %>
            <div class="content-multiple-item-element">
                <label class="label" for="id<%=index%>">Food <%=index + 1%>:</label>
                <select class="select-small" name="food<%=index%>">
                    <option disabled selected>-- Tria --</option>
                    <% foods.forEach(food => { %>
                        <% if (food.id == meal.meal) { %>
                            <option selected label="<%= food.name %>" value="<%= food.id %>"></option> 
                        <% } else { %>
                        <option label="<%= food.name %>" value="<%= food.id %>"></option>
                        <% } %>
                    <% }) %>
                </select>
                <label class="label" for="foodQuantity">Food <%=index + 1%> gr:</label>
                <input class="input-small" type="number" name="foodQuantity<%=index%>" value="<%= meal.quantity %>"  />
                <button class="xButton" type="submit" name="eraseButton<%=index%>">X</button>
            </div>
        <% } %>
    <% }) %>
</div>
<div class="content-links">
    <button class="plusButton" type="submit" name="plusDishButton">+ Dish</button>
    <button class="plusButton" type="submit" name="plusFoodButton">+ Food</button>
</div>
<div class="content-links">
    <a class="link" href="/menus">Cancel</a>
    <button class="button" type="submit" name="createButton">Confirm</button>
</div>










