<div class="index-container" id="menus-index-container">
    <h1 class="title">Menus</h1>
    <div class="menus-index-content">
        <% menus.forEach(menu => { %>
            <div class="menus-index-content-item">
                <div class="menus-index-content-item-day" >
                    <a class="link-title" href="/menus/<%= menu.slug %>/"><%= menu.date.dayOfWeek %></a>
                </div>
                <div class="menus-index-content-item-date">
                    <span class="span"><%= menu.date.longDate.toDateString() %></span> 
                </div> 
                <% menu.meals.forEach((meal,index) => { %>
                    <% if (meal.onModel === 'Dish') { %>
                        <div class="menus-index-content-item-ingredient" >
                            <span class="span"><%= meal.meal.name %></span> 
                        </div>
                    <% } else if (meal.onModel === 'Food') { %>
                        <div class="menus-index-content-item-ingredient">
                            <span class="span"><%= meal.meal.name %> - <%= meal.quantity %> gr</span>
                        </div>
                    <% } %>
                <% }) %> 
            </div>
        <% }) %> 
    </div>
    </div>
</div>
<div class="page-links" id="menus-links">
    <a class="link-page" href="/menus/new">Nou Menu</a>
    <a class="link-page" href="/menus/advancedSearch">Cerca Avançada</a>
</div>