<div class="menus-index-container">
    <h1 id="menus-index-title">Menus</h1>
    <div id="menus-index-info">
        <% menus.forEach(menu => { %>
            <div id="menus-index-info-item">
                <div id="menus-index-info-item-day">
                <a href="/menus/<%= menu.slug %>/"><h3><%= menu.date.dayOfWeek %></h3></a>
                </div>
                <% menu.meals.forEach((meal,index) => { %>
                    <% if (meal.onModel === 'Dish') { %>
                        <div>
                            <p id="menus-index-info-item-dish"><%= meal.meal.name %></p> 
                        </div>
                    <% } else if (meal.onModel === 'Food') { %>
                        <div>
                            <p id="menus-index-info-item-food"><%= meal.meal.name %>: <%= meal.quantity %> gr</p>
                        </div>
                    <% } %>
                <% }) %> 
                <p id="menus-index-info-item-date"><%= menu.date.longDate.toDateString() %></p>  
            </div>  
        <% }) %>  
    </div>
    
</div>
<div class="menus-index-links">
    <a href="/menus/new">New Menu</a>
    <a href="/menus/advancedSearch">Advanced Search</a>
    <a href="/menus/new">New Menu</a>
    <a href="/menus/advancedSearch">Advanced Search</a>
</div>