<h2><%= menu.date.dayOfWeek %></h2>
<% menu.meals.forEach((meal,index) => { %>
    <% if (meal.onModel === 'Dish') { %>
        <div>
            Dish: <%= meal.meal.name %>
        </div>
    <% } else if (meal.onModel === 'Food') { %>
        <div>
            Food: <%= meal.meal.name %> - <%= meal.quantity %> gr.
        </div>
    <% } %>
<% }) %>  
<div>Date: <%= menu.date.longDate.toDateString() %></div>


<a href="/menus/<%= menu.slug %>/edit">Edit</a>
<%- include('../templates/deleteForm',
    {url: `/menus/${menu.id}`})
%>



