<h2><%= plat.name %></h2>
<% plat.ingredients.forEach((ingredient,index) => { %>
    <% if (ingredient.aliment != undefined ) { %>
        <div>
            Ingredient<%=index+1%>: <%= ingredient.aliment.name %> - <%= ingredient.quantity %> gr.
        </div>
    <% } %>
<% }) %>  
<div>Last Update Date: <%= plat.updateDate.toDateString() %></div>
<div>Description: <%= plat.description %></div>
<a href="/plats/<%= plat.id %>/edit">Edit</a>
<%- include('../templates/deleteForm',
    {url: `/plats/${plat.id}`})
%>
<form action="/plats/search/" method="GET">
    <label for="id">Name</label>
    <select name="id" onchange="this.form.submit()">
        <option disabled selected>-- Tria --</option>
        <% plats.forEach(plat => { %>
            <option label="<%= plat.name %>" value="<%= plat.id %>"></option> 
        <% }) %>  
    </select>
</form>
 

