<div>
<label for="name">Name</label>
<input required type="text" name="name" value="<%= food.name %>" />
</div>
<div>
<label for="fats">Fats</label>
<input required type="number" name="fats" value="<%= food.fats %>" />
</div>
<div></div>
<label for="carbs">Carbs</label>
<input required type="number" name="carbs" value="<%= food.carbs %>" />
</div>
<div>
<label for="protein">Protein</label>
<input required type="number" name="protein" value="<%= food.protein %>" />
</div>
<div>
<label for="fiber">Fiber</label>
<input required type="number" name="fiber" value="<%= food.fiber %>" />
</div>