<div class="content-double-item-row">
    <label class="label" for="name">Name</label>
    <input required type="text" class="input" name="name" value="<%= food.name %>" />
</div>
<div class="content-double-item-row">
    <label class="label" for="fats">Fats</label>
    <input required type="number" class="input" name="fats" value="<%= food.fats %>" />
</div>
<div class="content-double-item-row">
    <label class="label" for="carbs">Carbs</label>
    <input required type="number" class="input" name="carbs" value="<%= food.carbs %>" />
</div>
<div class="content-double-item-row">
    <label class="label" for="protein">Protein</label>
    <input required type="number" class="input" name="protein" value="<%= food.protein %>" />
</div>
<div class="content-double-item-row">
    <label class="label" for="fiber">Fiber</label>
    <input required type="number" class="input" name="fiber" value="<%= food.fiber %>" />
</div>
<div class="content-links">
    <a class="link" href="/foods">Cancel</a>
    <button class="button" type="submit" name="createButton">Confirm</button>
</div>