<h2>Advanced Search</h2>
<form action="/foods/advancedSearch" method="GET">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>" />
    </div>
    <div>
        <label for="fats">Fats</label>
        <input type="number" name="fats" value="<%= searchOptions.fats %>" />
    </div>
    <div>
        <label for="carbs">Carbs</label>
        <input type="number" name="carbs" value="<%= searchOptions.carbs %>" />
    </div>
  <button type="submit">Search</button>
</form>
<br />
<div>
    <% foods.forEach(food => { %>
    <div>
        <a href="/foods/<%= food.slug %>"><%= food.name %></a>
    </div>
    <% }) %>
</div> 
