//////////////////

<% authors.forEach(author => { %>
    <div><%= author.name %></div>
    <a href="/authors/<%= author.id %>">View</a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../components/deleteForm',
        {url: `/authors/${author.id}`})
    %> 
<% }) %>



<% if (booksByAuthor.length > 0) { %>  
    <h2>Books By Author</h2>
    <div>
        <% booksByAuthor.forEach(book => { %>
            <a href="/books/<%= book.id %>"> 
                <img height="150" width="100" src="<%= book.coverImagePath %> ">
            </a>
        <% }) %>
    </div>
<% } %> 




<div>
    <label for="author">Author</label>
    <select name="author" id="">
        <% authors.forEach(author => { %>
            <% if (author.id === book.author) { %>
                <option selected label="<%= author.name %> " value="<%= author.id %>"></option>
            <% } else { %> 
                <option label="<%= author.name %> " value="<%= author.id %>"></option> 
            <% } %>   
        <% }) %>  
    </select>
    </div>



    <% foods.forEach(food => { %>
        <h2><%= ingredient.food %></h2>
        <h2><%= food.id %></h2>
        <h2><%= food.name %></h2>
        <% if (ingredient.food == food.id) { %>
            <h2>Aquest si</h2>
        <% } %>
     <% }) %>