<div class="show-container">
    <h1 class="title">Aliments</h1>
    <h3 class="subtitle"><%= food.name %></h3>
    <div class="content-item">
        <canvas class="chart" id="myChart" width="200"  height="200"></canvas>
    </div>
    <div class="content">
        <div class="content-double-item-row">
            <label class="label" id="label-show" for="name">Fats:</label>
            <span class="span"><%= food.fats %></span>
        </div>
        <div class="content-double-item-row">
            <label class="label" id="label-show" for="name">Carbs:</label>
            <span class="span"><%= food.carbs %></span>
        </div>
        <div class="content-double-item-row">
            <label class="label" id="label-show" for="name">Protein:</label>
            <span class="span"><%= food.protein %></span>
        </div>
        <div class="content-double-item-row">
            <label class="label" id="label-show" for="name">Fiber:</label>
            <span class="span"><%= food.fiber %></span>
        </div>
        <div class="content-links">
            <a class="link" href="/foods/<%= food.slug %>/edit">Edit</a>
            <%- include('../components/deleteForm',
                {url: `/foods/${food.id}`}
                )
            %>
        </div>
        <div class="content-item">
            <form action="/foods/search" method="GET">
                    <select class="select" name="id" onchange="this.form.submit()">
                        <option disabled selected>-- Tria --</option>
                        <% foods.forEach((food,index) => { %>
                            <option label="<%= food.name %>" value="<%= food.id %>"></option> 
                        <% }) %>  
                    </select>
            </form>
        </div>
        
    </div>
</div>
<div class="page-links" id="foods-links">
    <a class="link-page" href="/foods/new">Nou Aliment</a>
    <a class="link-page" href="/foods/advancedSearch">Cerca Avançada</a>
</div>



