<div>
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= dish.name %>" />
</div>

<div>
    <label for="updateDate">Last Update Date</label>
    <input type="date" name="updateDate"
        value="<%= dish.updateDate == null ? '' : dish.updateDate.toISOString().split('T')[0] %>" /> 
</div>


<div>
    <% dish.ingredients.forEach((ingredient,index) => { %>
        <div>
            <label for="id<%=index%>">Ingredient <%=index + 1%>:</label>
            <select name="ingredientText<%=index%>">
                <option disabled selected>-- Tria --</option>
                <% foods.forEach(food => { %>
                    <% if (food.id == ingredient.food) { %>
                        <option selected label="<%= food.name %>" value="<%= food.id %>"></option> 
                    <% } else { %>
                        <option label="<%= food.name %>" value="<%= food.id %>"></option>
                    <% } %>    
                <% }) %>  
            </select>
            <input type="number" name="ingredientNumber<%=index%>" value="<%= ingredient.quantity %>"  />
            <% if (dish.ingredients.length > 1) { %>
                <button type="submit" name="eraseButton<%=index%>">X</button>
            <% } %>
        </div>
    <% }) %>
</div>
<button type="submit" name="plusButton">+</button>


<div>
    <label for="description">Description</label>
    <textarea name="description"><%= dish.description %> </textarea> 
</div>







