<h2><%= dish.name %></h2>
<% dish.ingredients.forEach((ingredient,index) => { %>
    <% if (ingredient.food != undefined ) { %>
        <div>
            Ingredient<%=index+1%>: <%= ingredient.food.name %> - <%= ingredient.quantity %> gr.
        </div>
    <% } %>
<% }) %>  
<div>Last Update Date: <%= dish.updateDate.toDateString() %></div>
<div>Description: <%= dish.description %></div>
<a href="/dishes/<%= dish.slug %>/edit">Edit</a>
<%- include('../templates/deleteForm',
    {url: `/dishes/${dish.id}`})
%>
<form action="/dishes/search/" method="GET">
    <label for="id">Name</label>
    <select name="id" onchange="this.form.submit()">
        <option disabled selected>-- Tria --</option>
        <% dishes.forEach(dish => { %>
            <option label="<%= dish.name %>" value="<%= dish.id %>"></option> 
        <% }) %>  
    </select>
</form>
 

